<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ page_title }}{% endblock %}</title>

    {% block additional_head %}

    {% endblock  %}
</head>
<body>
    {% block body %}
    {% block contents %}
        {%  if template_to_include %}
            {%  include template_to_include %}
        {% endif %}
    {% endblock contents %}

    <div style="clear: both">
        {% if not user.is_anonymous %}
        Zalogowano: {{ user.username }} <a href="{% url "auth_logout" %}">Wyloguj</a>
        {% endif %}
    </div>
    {% endblock body %}
</body>
</html>