{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}

<h1>Grades </h1>

{% if grade_forms %}
<form method="POST">
{% csrf_token %}
<table>
    <thead>
        {% include "grading/grade_group_activity/submit.html" %}
        <tr>

            <td>{% trans "Student Grades" %}</td>
{# Basically we generate header from the first row of data #}
            {% with row=grade_forms.0 %} {# We can assume there is at least one row #}
            {% with student=row.0 grades=row.1 %}
            {% for gr in grades %}
                <td>
                    {% blocktrans with name=gr.grade_part.name%}
                        Mark for {{name}}
                    {% endblocktrans %}
                </td>
            {% endfor %}
            {% endwith %}
            {% endwith %}
            <td>
                {% blocktrans with activity=activity.name%}
                    Final grade for {{ activity }}
                {% endblocktrans %}
            </td>
        </tr>
    </thead>
    <tbody>
    {% for row in grade_forms %}
        <tr>
        {% with student=row.0 grades=row.1 final=row.2%}
            <td>
                <span class="student">
                    {{ student }}
                </span>
            </td>
            {% for grade in grades %}
            <td>
                <span>
                    {{ grade.non_field_errors }}
                </span>
                <span>
                {{ grade.grade.errors }}
                {{ grade.grade }}
                </span>
                <span>
                {{ grade.short_description.errors }}
                {{ grade.short_description }}
                </span>
            </td>
            {% endfor %}
            <td>
                {{ final.grade }}
            </td>
        {% endwith %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="0"> foo </td>
    </tr>
    {% include "grading/grade_group_activity/submit.html" %}
    </tfoot>
</table>
</form>
{% else %}
    No students to grade
{% endif %}
{% endblock %}