{% extends "grading/base.html" %}
{% load i18n %}

{% block grading_additional_head %}
    {{ form.media }}
{% endblock %}

{% block grading_contents %}

    <h1>{% blocktrans with name=grade_part.name|lower %}
        Now grading: "{{ name }}"
    {% endblocktrans %}</h1>


    {% if autograder.DESCRIPTION %}
    <p>
        {{ autograder.DESCRIPTION }}
    </p>
    {% endif %}


    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Submit!" %}</button>
    </form>
{% endblock %}